body {
  /*background-image: url("https://i.imgur.com/6lEco1J.jpg?1");*/
  background-size: auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 1.6em;
  font-size: 1.3em;
  margin-top: 80px;
  padding: 30px;
}

main {
  color: white;
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

a {
  color: #097659;
}

input {
  font-size: 1.5em;
}

.container {
  width: 960px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

ul#workout {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.workout-nav {
  display: flex;
  border: 3px solid rgb(5, 41, 158);
}

.workout-name {
  font-size: 20px;
  padding: 20px;
}

.name {
  display: flex;
  justify-content: space-evenly;
}

.exercise-card {
  width: 300px;
  border-radius: 10px;
  border: 2px solid firebrick;
  padding: 25px;
}

#create-workout-exercise-form {
  display: none;
}

.delete-exercise {
  position: relative;
  top: 10px;
  border-radius: 10px;
}

#submit-form {
  border-radius: 10px;
}
